{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>School Manager</title>

    <link rel="stylesheet" href="{% static 'school_core/css/styles.css' %}?v=1">
</head>
<body>

    <div id="app-container">
        <h1 onclick="router('hub')">School Manager</h1>

        <div id="content-slot">
            <p style="text-align:center; color:#999;">Loading App...</p>
        </div>
    </div>

    <script src="{% static 'school_core/js/app.js' %}?v=5"></script>
</body>
</html>